.event-form input{
  display: block;
  margin-bottom: 10px;
}

.react-datepicker__day--outside-month {
  visibility: hidden;
}

.repeat-options input{
  display: inline;
}

input[type=number] {
  width: 40px;
}

.close {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.close::after {
  content: "\274C"
}