.day {
  border-bottom: 1px solid #b5b5b5;
  padding: 20px 15px;
}

.day h2 {
  display: inline-block;
  font-size: 1.3em;
  padding-bottom: 10px;
  cursor: pointer;
}

.day.past h2 {
  color: var(--grayed-out);
}

.day ul:empty {
  padding: 18px 0;
}