.event-form {
  padding: 15px;
  padding-top: 30px;
  overflow-y: auto;
}

.event-form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid white;
  border-radius: 7px;
  background-color: #c7c7c7;
  color: var(--font-color);
  font-size: 22px;
  padding: 5px 15px;
  cursor: pointer;
  margin-top: 10px;
}

.event-form button:hover,
.event-form button:focus {
  border: 1px solid black;
  outline: none;
}

.err-msg {
  display: block;
  font-size: 14px;
  padding: 5px 0;
  color: red;
}

.err-msg::after {
  content: '.';
  visibility: hidden;
}