.event-form {
  padding: 15px;
  padding-top: 30px;
}

.event-form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 7px;
  background-color: #008cff;
  color: white;
  font-size: 22px;
  padding: 5px 15px;
  cursor: pointer;
  margin-top: 10px;
}