.event-form {
  padding: 15px;
  padding-top: 30px;
  overflow-y: auto;
}

.event-form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: inherit;
  border: none;
  cursor: default;
  font-size: 1.3em;
  padding: 5px 20px;
  color: var(--font-color);
  background-color: #f5f5f5;
  background-color: #dedede;
  cursor: pointer;
  border-radius: 7px;
  font-weight: 300;
  margin-top: 10px;
}

.event-form button:hover,
.event-form button:focus {
  background-color: #dedede;
  background-color: #9c9c9c;
  outline: none;
}

.err-msg {
  display: block;
  font-size: 14px;
  padding: 5px 0;
  color: red;
}

.err-msg::after {
  content: '.';
  visibility: hidden;
}