.header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 0 15px;
  height: 70px;
  background-color: #f55555;
}

#calendar {
  margin-right: 40px;
}

h1 {
  font-size: 2em;
  display: none;
  cursor: default;
  font-family: 'Poiret One', sans-serif;
  color: white;
}

@media (min-width: 675px) {
  h1 {
    margin-right: 75px;
    display: block;
  }
}

/* header button */

.header button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: inherit;
  border: none;
  cursor: default;
  font-size: .95em;
  padding: 5px 10px;
  color: var(--font-color);
  background-color: #f5f5f5;
  cursor: pointer;
  border-radius: 7px;
  font-weight: 300;
}

.header button:hover {
  background-color: #dedede;
}

.header button:focus {
  outline: none;
}

@media (min-width: 420px) {
  .header button {
    font-size: 1.2em;
    padding: 5px 15px;
  }
}

/* selection triangle */

.select {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-top: 6px solid var(--font-color);
  margin-left: 15px;
}