.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: auto;
  outline: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  --border: 1px solid gray;
}

@media (min-height: 601px) {
  .modal {
    height: 600px;
    top: 50%;
    margin-top: -300px;
    border-bottom: var(--border);
    border-top: var(--border);
  }
}

@media (min-width: 575px) {
  .modal {
    width: 574px;
    left: 50%;
    margin-left: -287px;
    border-left: var(--border);
    border-right: var(--border);
  }
}

@media (min-height: 601px) and (min-width: 575px) {
  .modal {
    border-radius: 7px;
  }
}